@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
	font-size: 20px;
	text-align: center;
	font-family: "Roboto", sans-serif;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: black;
}

.App-link {
	color: #09d3ac;
}

body {
	background-color: whitesmoke;
}

.hori {
	height: 1px;
	background-color: rgb(0, 0, 0);
	border: none;
}
.slides .slick-prev,
.slides .slick-next {
	position: absolute;
	top: 50%;
	z-index: 1;
}

.slides {
	position: relative;
}

.slides .slick-prev,
.slides .slick-next {
	position: absolute;
	top: 50%;
	z-index: 1;
	color: black;
}

.slides .slick-prev {
	left: 5%;
}

.slides .slick-next {
	right: 5%;
}
